@import "Main.scss";

.create-address {
  display:flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.address-form {
  width: 40%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 350px;
}

.address-input-container {
  display:flex;
  flex-direction: row;
  justify-content: center;

  .address-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    label {
      font-weight: lighter;
    }

    input {
      border-style: none;
      margin-left: 20px;
    }

    .red-text {
      font-size: 15px;
    }

    .address-input input[type="text"]:hover {
      cursor: pointer;
    }

  }
}