$dark_green: #517962;
$mint_green: #04c665;
$light_blue: #B9CDDA;
$white: #ffffff;
$grey-border: #363131;
$title_font_size: 16px;
$light_green: #8EAF9D;
$title_font: Times New Roman, Serif, serif;

body {
  background-color: #efe6e6;
}

/* AdminControls */
.controls-container {
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Button style */
  .controls-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: $title_font_size;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: #ccb1a7;
    border: 2px solid $white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-right: 10px;
    font-family: $title_font;
  }

  .controls-button:hover {
    background-color: #A26D5D;
    border-color: $grey-border;
  }
}

/* AdminTable */

.admin-head-container {
  padding-bottom: 75px;
}

.admin-body-container {
  display: flex;
}

.admin-table-container {
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 5px;

  .admin-table-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 2px solid $grey-border;
    border-radius: 5px;
  }
}

.admin-table-container thead {
  background-color: #A26D5D;
  color: $white;
  border-color: $white;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-family: $title_font;
}

.admin-table-container thead :hover {
  border-color: $grey-border;
}

.admin-table thead th,
.admin-table-container tbody td {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.admin-table-container tbody tr {
  border-bottom: 1px solid $grey-border;
  background-color: $white;
  position: relative;
}

.admin-table-container tbody tr:hover {
  background-color: #e5e3e3;
  transition: background-color 0.6s ease;
}

.admin-table-container tbody tr:hover td {
  color: transparent;
  cursor: pointer;
}

.admin-table-container tbody tr:hover::after {
  content: "\1F50D";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.admin-table-container table {
  border-color: $grey-border;
  border-radius: 5px;
}

.sortLabel:hover {
  cursor: pointer;
}
.test {
  
}



.add-new-product {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Filters */
.filter-container {
  width: 300px;
  padding: 20px;


  .filter-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  /* Styling for filter dropdown menus */
  .filter-dropdown.open .filter-dropdown-menu {
    display: block;
  }


  .filter-dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    padding: 10px;
    z-index: 1;

  }

  .filter-dropdown-menu label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $title_font;
    font-size: 16px;
  }

  .filter-dropdown-toggle {
    width: 100%;
    //color: $white;
    background-color: #ccb1a7; /*  Change the color of the buttons for the filters here caitlin , hover is below this*/
    border: 1px solid $white;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.8ms ease;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $title_font;
    font-size: 14px;
    font-weight: bold;
  }

  .filter-dropdown-toggle:hover {
    background-color: $white;
    border-color: $grey-border;
  }
}

.filter-dropdown-toggle > input[type="checkbox" i] {
  border-style: outset;
}

.filter-buttons > button {
  background-color: #ccb1a7;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: $title_font_size;
  font-weight: bold;
  text-transform: uppercase;
  //color: $white;
  border: 2px solid $white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: $title_font;
}

.filter-buttons > button:hover {
  background-color: #A26D5D;
  border-color: $grey-border;
}

.apply-button {
  margin-top: 20px;
}

.apply-button button {
  background-color: #007bff;
  color: $white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button button:hover {
  background-color: #0056b3;
}


/* Admin product edit */
.admin-edit-product  {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.admin-create-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form,
.edit-form {
  width: 40%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 350px;
}

.edit-form label {
  font-size: 30px;
  font-weight: bold;
}


.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-input,
.edit-input {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
}
.create-input input,
.edit-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-input input[type="text"] {
  width: calc(100% - 22px); /* Adjusted to account for padding and border */
  font-size: 20px;
  font-weight: lighter;
}
.create-input input[type="text"]:hover,
.edit-input input[type="text"]:hover {
  cursor: pointer;
}



.size-selector {
  display: flex;
  flex-direction: column;
}
.size-option input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.err-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.err-container div {
  width: 80%;

}
.err {
  color: red;
  font-size: 14px;
}
.create-input input.invalid-input,
.edit-input input.invalid-input {
  border: 2px solid red;
}
.size-selector.invalid-input {
  border: 2px solid red;
}













.edit-input input [ type = "text" ]:hover {
  cursor: pointer;
}


.size-selector {
  display: flex;
  flex-direction: column;
}

.size-option input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.err-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.err-container div {
  width: 80%;

}

.err {
  color: red;
  font-size: 14px;
}

.create-input input.invalid-input,
.edit-input input.invalid-input {
  border: 2px solid red;
}

.size-selector.invalid-input {
  border: 2px solid red;
}

.stock-filter,
.price-filter {
  margin-bottom: 20px;
}

.stock-filter h4,
.price-filter h4 {
  margin-bottom: 10px;
  font-size: $title_font_size;
  font-family: $title_font;
  color: #333;
}

.stock-slider,
.price-slider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: $white;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.stock-slider::-webkit-slider-thumb,
.price-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff; /* Primary color */
  cursor: pointer;
}

.stock-slider::-moz-range-thumb,
.price-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff; /* Primary color */
  cursor: pointer;
}

.testing-link-container {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  border: black solid 2px;
}

.testing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-text {
  color: red;
  font-weight: bold;
}

.filter-button {
  display: flex;
  padding-left: 20px;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
}

.filter-button > h1 {
  font-size: 20px;
  font-family: Times New Roman, Serif, serif;
}

.filter-icon:hover {
  cursor: pointer;
}


.filter-icon > img {
  width: 55px;
  height: 55px;
}

.filter-container {
  width: 150px;
  border: none;
}

.filter-container > fieldset {
  position: relative;
  border: none;
}

.filter-box {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  background-color: black;
}


/*
    Styling for checkboxes from w3schools
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
 */
//
//.checkbox-label {
//  position: relative;
//  display: flex;
//  align-items: center;
//}
//
//.checkbox-label  input {
//  position: absolute;
//  opacity: 0;
//  cursor: pointer;
//  height: 0;
//  width: 0;
//}
//
//.check {
//  position: relative;
//  display: inline-block;
//  height: 25px;
//  width: 25px;
//  background-color: #eee;
//}
//
//.filter-dropdown-menu input:checked + .check {
//  background-color: #A26D5D;
//}
//
//.check:after {
//  content: "";
//  position: absolute;
//  display: none;
//}
//
//.filter-dropdown-menu input:checked + .check:after {
//  content: "";
//  position: absolute;
//  left: 9px;
//  top: 5px;
//  width: 5px;
//  height: 10px;
//  border: solid white;
//  border-width: 0 3px 3px 0;
//  transform: rotate(45deg);
//  display: block;
//}