.container {
  padding-top: 10px;
}
.table-container
{
  max-width: 700px;
  margin: 0 auto;
}


/* link buttons */
.green-button,
.red-button,
.blue-button
{
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor:pointer;
}

.green-button
{
  background-color: #8EAF9D;
}

.red-button
{
  background-color: #6B7D7D;
}

.blue-button
{
  background-color: #B9CDDA;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover
{
  text-decoration: none;
  color:#fff;
}

.green-button:hover
{
  background-color: #107020;
}

.red-button:hover
{
  background-color: #db303c;
}

.blue-button:hover
{
  background-color: #1020a0;
}
/* end of link buttons */




input [type="button"]
{
  color:pink;
}






/* table of cars */
.table-container table
{
  width:100%;
  border-collapse:collapse;
}

.table-container thead
{
  background-color: #aaa;
  color:#fff;
  text-align: left;
  text-transform: capitalize;
}

.table-container tbody tr
{
  height:3em;
}

.table-container thead th,
.table-container tbody td
{
  padding:5px;
}
.table-container tbody tr:nth-child(odd)
{
  background-color: white;
}

.table-container tbody tr:nth-child(even)
{
  background-color: white;
}

.add-new-car
{
  margin-top:1em;
}


/*end of table of cars */

.body-container{
  background-color: #f8f5eb;
}


/* TESTING STYLES */

.testing-red-button
{
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: rgb(255, 64, 84);
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor:pointer;
}


.testing-red-button:hover {
  background-color: rgb(222, 6, 33);
}

.testing-green-button
{
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: rgb(131, 190, 11);
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor:pointer;
}


.testing-green-button:hover {
  background-color: rgb(151, 220, 15);
}