@import "Main.scss";
@import "CreateProduct.scss";

/*
    Edit product page
 */

.admin-edit-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;

  h1 {
    @include important-titles;
    position: absolute;
    margin-bottom: 800px;
  }

  .edit-form {
    border-radius: 5px;
    box-shadow: 20px 20px 50px grey;
    border-color: #A26D5D;
    border-style: outset;
    background-color: #efe6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  label {
    @include normal-text;
    font-size: 18px;
  }

  input {
    display: flex;
    justify-content: center;
    border-color: white;
    border-radius: 0;
    border-style: outset;
    height: 15px;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }
}


.form-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    @include basic-button($white);
    padding: 5px 7px;
    color: black;
    border-color: white;
    margin: 5px 40px;

    &:hover {
      @include basic-button-hover;
    }
  }
}

.stock-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  max-height: 50%;

  label,
  input {
    margin-left: 30px;
    max-width: 30%;
  }
  .item {
    max-width: 30%;
  }

}
/*
    From admin scss
 */

.address-input,
.edit-input {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.create-input input[type="text"]:hover,
.edit-input input[type="text"]:hover {
  cursor: pointer;
}

.form-label{
  font-family: Times New Roman, Serif, serif;
}