@import "Main.scss";

.filter-container {
  width: 300px;
  padding: 20px;
  position: relative;
  margin-top: 30px;

  .filter-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  /* Styling for filter dropdown menus */
  .filter-dropdown.open .filter-dropdown-menu {
    display: block;
  }

  .filter-dropdown-menu {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .filter-dropdown-menu label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $title_font;
    font-size: 16px;
  }

  .filter-dropdown-toggle {
    width: 100%;
    //color: $white;
    background-color: #ccb1a7; /*  Change the color of the buttons for the filters here caitlin , hover is below this*/
    border: 1px solid $white;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.8ms ease;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $title_font;
    font-size: 14px;
    font-weight: bold;
  }

  .filter-dropdown-toggle:hover {
    background-color: $white;
    border-color: $grey-border;
  }
}

.filter-dropdown-toggle > input[type="checkbox" i] {
  border-style: outset;
}

.filter-buttons > button {
  background-color: #ccb1a7;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: $title_font_size;
  font-weight: bold;
  text-transform: uppercase;
  //color: $white;
  border: 2px solid $white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: $title_font;
}

.filter-buttons > button:hover {
  background-color: #A26D5D;
  border-color: $grey-border;
}

/*
    Checkbox styling
 */

.filter-checkboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

.filter-checkboxes:hover input ~ .checkmark {
  background-color: #ccc;
}

.filter-checkboxes:checked ~ .checkmark {
  background-color: #363131;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-checkboxes input:checked ~ .checkmark:after {
  display: block;
}

.filter-checkboxes .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #363131;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* */

/*
  Filter image and button
 */

.filter-button {
  display: flex;
  padding-left: 20px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.filter-button > h1 {
  font-size: 18px;
  font-family: Times New Roman, Serif, serif;
  margin-left: 200px;
}

.filter-icon{
  position: absolute;
  margin-top: 25px;
  margin-right: 10px;
}

.filter-icon:hover {
  cursor: pointer;
}

.filter-icon > img {
  width: 45px;
  height: 45px;
  margin-left: 85px;
  position: absolute;
}

.filter-container > fieldset {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}


/*
  Price and stock slider
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider_round
 */
.price-filter {
  width: 100%;
}

.price-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.price-slider:hover {
  opacity: 1;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #363131;
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #363131;
  cursor: pointer;
}

.stock-filter h4,
.price-filter h4 {
  margin-bottom: 10px;
  font-size: $title_font_size;
  font-family: $title_font;
  color: #333;
}

.stock-filter {
  width: 100%;
}

.stock-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.stock-slider:hover {
  opacity: 1;
}

.stock-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #363131;
  cursor: pointer;
}

.stock-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #363131;
  cursor: pointer;
}

.stock-filter h4,
.price-filter h4 {
  margin-bottom: 10px;
  font-size: $title_font_size;
  font-family: $title_font;
  color: #333;
}
/*End of slider styling*/
