$dark_green: #517962;
$mint_green: #A6D8D4;
$light_blue: #B9CDDA;
$white: #ffffff;
$grey-border: #363131;
$title_font_size: 16px;
$light_green: #8EAF9D;

.footer-container{
  background-color: $light_green;
  position: fixed;
  width: 100%;
}