@import "Nav.scss";
@import "Admin.scss";

.bag-container {

  .shopping-bag-head-container {
    padding-top: 0;
  }

  .bag-container {
    width: 80%;

    .bag > h1 {
      font-size: $title_font_size;
      font-family: $title_font;
    }

    .bag > h2 {
      font-size: $title_font_size;
      font-family: $title_font;
    }

    .checkout-buttons{
      background-color: $light_blue;
      font-family: $title-font;
      font-size: $title_font_size;
    }

    .checkout-buttons > button:hover{
      background-color: $mint_green;
      border-color: $grey-border;
    }
  }

}