@import "Nav.scss";
@import "Admin.scss";

.shopping-bag-head-container {
  padding-top: 0;
}

.bag-container {
  width: 80%;

  h1 {
    font-size: $title_font_size;
    font-family: $title_font;
  }

  h2 {
    font-size: $title_font_size;
    font-family: $title_font;
  }

  .tshirt-container {

  }

  .checkout-buttons {
    background-color: $light_blue;
    font-family: $title-font;
    font-size: $title_font_size;
  }

  .checkout-buttons > button:hover {
    background-color: $mint_green;
    border-color: $grey-border;
  }
}


