@import "Main.scss";

.sort-container {
  margin-left: 50px;
  margin-top: 20px;

  &.open{
    display: block;
  }

  .sort-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  /* Styling for filter dropdown menus */
  .sort-dropdown.open .sort-dropdown-menu {
    display: block;
  }

  .sort-dropdown-menu {
    float: right;
    display: none;
    width: 100%;
    padding: 10px;
  }

  .sort-dropdown-menu label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $title_font;
    font-size: 16px;
  }

  .sort-dropdown-toggle {
    width: 100%;
    background-color: #ccb1a7;
    border: 1px solid $white;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.8ms ease;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $title_font;
    font-size: 14px;
    font-weight: bold;
  }

  .sort-dropdown-toggle:hover {
    background-color: $white;
    border-color: $grey-border;
  }
}

.sort-buttons > button {
  background-color: #ccb1a7;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: $title_font_size;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: $title_font;
}

.sort-buttons > button:hover {
  background-color: #A26D5D;
  border-color: $grey-border;
}


/* */

/*
  Filter image and button
 */

.sort-button {
  position: relative;
  display: inline-flex;
  align-items: center;

  h1 {
    font-size: 18px;
    font-family: Times New Roman, Serif, serif;
    margin-left: 20px;
  }
}


.sort-icon {
  margin-top: 25px;
  margin-right: 10px;
}

.sort-icon:hover {
  cursor: pointer;
}

.sort-icon > img {
  width: 35px;
  height: 35px;
}
