@charset "UTF-8";
body {
  background-color: #efe6e6;
}

/* AdminControls */
.controls-container {
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Button style */
}
.controls-container .controls-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: #ccb1a7;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-right: 10px;
  font-family: Times New Roman, Serif, serif;
}
.controls-container .controls-button:hover {
  background-color: #A26D5D;
  border-color: #363131;
}

/* AdminTable */
.admin-head-container {
  padding-bottom: 75px;
}

.admin-body-container {
  display: flex;
}

.admin-table-container {
  width: 90%;
  display: flex;
  /*justify-content: center;*/
  border-color: #363131;
  border-radius: 5px;
}
.admin-table-container .admin-table-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-color: #363131;
}

.admin-table-container thead {
  background-color: #A26D5D;
  color: #ffffff;
  border-color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-family: Times New Roman, Serif, serif;
}

.admin-table-container thead :hover {
  border-color: #363131;
}

.admin-table thead th,
.admin-table-container tbody td {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.admin-table-container tbody tr {
  border-bottom: 1px solid #363131;
  background-color: rgba(239, 241, 232, 0.69);
  position: relative;
}

.admin-table-container tbody tr:hover {
  background-color: #e5e3e3;
  transition: background-color 0.6s ease;
}

.admin-table-container tbody tr:hover td {
  color: transparent;
  cursor: pointer;
}

.admin-table-container tbody tr:hover::after {
  content: "🔍";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.admin-table-container table {
  border-color: #363131;
  border-radius: 5px;
}

.add-new-product {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Filters */
.filter-container {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  /* Styling for filter dropdown menus */
}
.filter-container .filter-buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.filter-container .filter-dropdown.open .filter-dropdown-menu {
  display: block;
}
.filter-container .filter-dropdown-menu {
  display: none;
  top: 0;
  left: 100%;
  background-color: #B9CDDA;
  border: 1px solid #ffffff;
  padding: 10px;
  z-index: 1;
}
.filter-container .filter-dropdown-menu label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.filter-container .filter-dropdown-toggle {
  width: 100%;
  color: #ffffff;
  background-color: #A6D8D4; /*  Change the color of the buttons for the filters here caitlin , hover is below this*/
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.8ms ease;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Times New Roman, Serif, serif;
  font-size: 16px;
  font-weight: bold;
}
.filter-container .filter-dropdown-toggle:hover {
  background-color: #8EAF9D;
  border-color: #363131;
}

.filter-buttons > button {
  background-color: #B9CDDA;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: Times New Roman, Serif, serif;
}

.filter-buttons > button:hover {
  background-color: #A6D8D4;
  border-color: #363131;
}

.apply-button {
  margin-top: 20px;
}

.apply-button button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button button:hover {
  background-color: #0056b3;
}

/* Admin product edit */
.admin-edit-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-create-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form,
.edit-form {
  width: 40%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 350px;
}

.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-input,
.edit-input {
  margin-bottom: 15px;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
}

.create-input input,
.edit-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px); /* Adjusted to account for padding and border */
  font-size: 20px;
  font-weight: lighter;
}

.create-input input[type=text]:hover,
.edit-input input[type=text]:hover {
  cursor: pointer;
}

.size-selector {
  display: flex;
  flex-direction: column;
}

.size-option input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.err-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err-container div {
  width: 80%;
}

.err {
  color: red;
  font-size: 14px;
}

.create-input input.invalid-input,
.edit-input input.invalid-input {
  border: 2px solid red;
}

.size-selector.invalid-input {
  border: 2px solid red;
}

.stock-filter,
.price-filter {
  margin-bottom: 20px;
}

.stock-filter h4,
.price-filter h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Times New Roman, Serif, serif;
  color: #333;
}

.stock-slider,
.price-slider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.stock-slider::-webkit-slider-thumb,
.price-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff; /* Primary color */
  cursor: pointer;
}

.stock-slider::-moz-range-thumb,
.price-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff; /* Primary color */
  cursor: pointer;
}

.testing-link-container {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  border: black solid 2px;
}

.testing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-text {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=Admin.css.map */
