@import "Main";

.register-head-container {
  position: fixed;
  padding-top: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 100px;

  .register-page-box {
    width: 700px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 20px 20px 50px grey;
    border-color: #A26D5D;
    border-style: outset;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: flex;
      justify-content: center;
      @include important-titles;
    }

    .register-form {
      display: flex;
      flex-direction: row;

      /*
         Register Section 1 contents
       */
      .register-section1 {
        padding-right: 40px;

        .submit-btn {
          @include basic-button(white);
          @include normal-text;
          font-size: 16px;
          padding: 5px 7px;
          border-radius: 5px;
          color: black;

          &:hover {
            @include basic-button-hover;
          }
        }
      }

      .register-section2 {
        padding-left: 40px;
      }
    }
  }
}

.error-message {
  text-align: left;
  font-size: 14px;
  color: red;
  padding: 10px;
}

.password-error-container div {
  text-align: left;
  font-size: 15px;
  color: red;
  padding: 5px;
}

.logout {
  margin-bottom: 30px;
}

.register-btn-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.submit-btn-container {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.select-profile-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 80px;
  margin-left: 40px;

  label {
    font-size: 16px;
    font-family: Times New Roman, Serif, serif;
  }
}


.vl {
  border-left: 3px solid #d4c7c7c2;
  height: 360px;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


.register-section1 > label,
.register-section2 > label {
  font-size: 16px;
  font-family: Times New Roman, Serif, serif;
}

.register-section1,
.register-section2 {
  padding: 50px;
  flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  border-color: white;
  border-radius: 0;
  border-style: outset;
  height: 20px;
  width: 250px;
}

.cancel-btn {
  @include basic-button($white);
  font-size: 16px;
  padding: 5px 7px;
  border-radius: 5px;
  color: black;

  &:hover {
    @include basic-button-hover;
  }
}

